QuickOrder/WSQuickOrder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://WebServices/" name="WSQuickOrder" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://WebServices/" schemaLocation="WSQuickOrder_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="insertarPedido">
    <part name="parameters" element="tns:insertarPedido"/>
  </message>
  <message name="insertarPedidoResponse">
    <part name="parameters" element="tns:insertarPedidoResponse"/>
  </message>
  <message name="agregarACarrito">
    <part name="parameters" element="tns:agregarACarrito"/>
  </message>
  <message name="agregarACarritoResponse">
    <part name="parameters" element="tns:agregarACarritoResponse"/>
  </message>
  <message name="nickOcupado">
    <part name="parameters" element="tns:nickOcupado"/>
  </message>
  <message name="nickOcupadoResponse">
    <part name="parameters" element="tns:nickOcupadoResponse"/>
  </message>
  <message name="getDataPedido">
    <part name="parameters" element="tns:getDataPedido"/>
  </message>
  <message name="getDataPedidoResponse">
    <part name="parameters" element="tns:getDataPedidoResponse"/>
  </message>
  <message name="emailOcupado">
    <part name="parameters" element="tns:emailOcupado"/>
  </message>
  <message name="emailOcupadoResponse">
    <part name="parameters" element="tns:emailOcupadoResponse"/>
  </message>
  <message name="insertarCliente">
    <part name="parameters" element="tns:insertarCliente"/>
  </message>
  <message name="insertarClienteResponse">
    <part name="parameters" element="tns:insertarClienteResponse"/>
  </message>
  <message name="calificarPedido">
    <part name="parameters" element="tns:calificarPedido"/>
  </message>
  <message name="calificarPedidoResponse">
    <part name="parameters" element="tns:calificarPedidoResponse"/>
  </message>
  <message name="modificarCliente">
    <part name="parameters" element="tns:modificarCliente"/>
  </message>
  <message name="modificarClienteResponse">
    <part name="parameters" element="tns:modificarClienteResponse"/>
  </message>
  <message name="cancelarPedido">
    <part name="parameters" element="tns:cancelarPedido"/>
  </message>
  <message name="cancelarPedidoResponse">
    <part name="parameters" element="tns:cancelarPedidoResponse"/>
  </message>
  <message name="buscarCliente">
    <part name="parameters" element="tns:buscarCliente"/>
  </message>
  <message name="buscarClienteResponse">
    <part name="parameters" element="tns:buscarClienteResponse"/>
  </message>
  <message name="getDataClientes">
    <part name="parameters" element="tns:getDataClientes"/>
  </message>
  <message name="getDataClientesResponse">
    <part name="parameters" element="tns:getDataClientesResponse"/>
  </message>
  <message name="getDataPedidos">
    <part name="parameters" element="tns:getDataPedidos"/>
  </message>
  <message name="getDataPedidosResponse">
    <part name="parameters" element="tns:getDataPedidosResponse"/>
  </message>
  <message name="buscarProductosP">
    <part name="parameters" element="tns:buscarProductosP"/>
  </message>
  <message name="buscarProductosPResponse">
    <part name="parameters" element="tns:buscarProductosPResponse"/>
  </message>
  <message name="buscarProductos">
    <part name="parameters" element="tns:buscarProductos"/>
  </message>
  <message name="buscarProductosResponse">
    <part name="parameters" element="tns:buscarProductosResponse"/>
  </message>
  <message name="buscarProductosI">
    <part name="parameters" element="tns:buscarProductosI"/>
  </message>
  <message name="buscarProductosIResponse">
    <part name="parameters" element="tns:buscarProductosIResponse"/>
  </message>
  <message name="consultarCategorias">
    <part name="parameters" element="tns:consultarCategorias"/>
  </message>
  <message name="consultarCategoriasResponse">
    <part name="parameters" element="tns:consultarCategoriasResponse"/>
  </message>
  <message name="insertarRestaurante">
    <part name="parameters" element="tns:insertarRestaurante"/>
  </message>
  <message name="insertarRestauranteResponse">
    <part name="parameters" element="tns:insertarRestauranteResponse"/>
  </message>
  <message name="insertarCategoria">
    <part name="parameters" element="tns:insertarCategoria"/>
  </message>
  <message name="insertarCategoriaResponse">
    <part name="parameters" element="tns:insertarCategoriaResponse"/>
  </message>
  <message name="cantidadPorCategoria">
    <part name="parameters" element="tns:cantidadPorCategoria"/>
  </message>
  <message name="cantidadPorCategoriaResponse">
    <part name="parameters" element="tns:cantidadPorCategoriaResponse"/>
  </message>
  <message name="retornarCategoriasRestaurantes">
    <part name="parameters" element="tns:retornarCategoriasRestaurantes"/>
  </message>
  <message name="retornarCategoriasRestaurantesResponse">
    <part name="parameters" element="tns:retornarCategoriasRestaurantesResponse"/>
  </message>
  <message name="filtrarRestaurantes">
    <part name="parameters" element="tns:filtrarRestaurantes"/>
  </message>
  <message name="filtrarRestaurantesResponse">
    <part name="parameters" element="tns:filtrarRestaurantesResponse"/>
  </message>
  <message name="retornarCambiosEstado">
    <part name="parameters" element="tns:retornarCambiosEstado"/>
  </message>
  <message name="retornarCambiosEstadoResponse">
    <part name="parameters" element="tns:retornarCambiosEstadoResponse"/>
  </message>
  <message name="buscarRestaurante">
    <part name="parameters" element="tns:buscarRestaurante"/>
  </message>
  <message name="buscarRestauranteResponse">
    <part name="parameters" element="tns:buscarRestauranteResponse"/>
  </message>
  <message name="getPedidosCarrito">
    <part name="parameters" element="tns:getPedidosCarrito"/>
  </message>
  <message name="getPedidosCarritoResponse">
    <part name="parameters" element="tns:getPedidosCarritoResponse"/>
  </message>
  <message name="buscarClientePorEmail">
    <part name="parameters" element="tns:buscarClientePorEmail"/>
  </message>
  <message name="buscarClientePorEmailResponse">
    <part name="parameters" element="tns:buscarClientePorEmailResponse"/>
  </message>
  <message name="getDataRestaurantes">
    <part name="parameters" element="tns:getDataRestaurantes"/>
  </message>
  <message name="getDataRestaurantesResponse">
    <part name="parameters" element="tns:getDataRestaurantesResponse"/>
  </message>
  <message name="getDataPedidosTodos">
    <part name="parameters" element="tns:getDataPedidosTodos"/>
  </message>
  <message name="getDataPedidosTodosResponse">
    <part name="parameters" element="tns:getDataPedidosTodosResponse"/>
  </message>
  <message name="getDataPedidosProducto">
    <part name="parameters" element="tns:getDataPedidosProducto"/>
  </message>
  <message name="getDataPedidosProductoResponse">
    <part name="parameters" element="tns:getDataPedidosProductoResponse"/>
  </message>
  <message name="obtenerCalificacionPedido">
    <part name="parameters" element="tns:obtenerCalificacionPedido"/>
  </message>
  <message name="obtenerCalificacionPedidoResponse">
    <part name="parameters" element="tns:obtenerCalificacionPedidoResponse"/>
  </message>
  <message name="buscarDataIndividual">
    <part name="parameters" element="tns:buscarDataIndividual"/>
  </message>
  <message name="buscarDataIndividualResponse">
    <part name="parameters" element="tns:buscarDataIndividualResponse"/>
  </message>
  <message name="insertarPromocion">
    <part name="parameters" element="tns:insertarPromocion"/>
  </message>
  <message name="insertarPromocionResponse">
    <part name="parameters" element="tns:insertarPromocionResponse"/>
  </message>
  <message name="getPromedioCalificaciones">
    <part name="parameters" element="tns:getPromedioCalificaciones"/>
  </message>
  <message name="getPromedioCalificacionesResponse">
    <part name="parameters" element="tns:getPromedioCalificacionesResponse"/>
  </message>
  <message name="getDataIndividuales">
    <part name="parameters" element="tns:getDataIndividuales"/>
  </message>
  <message name="getDataIndividualesResponse">
    <part name="parameters" element="tns:getDataIndividualesResponse"/>
  </message>
  <message name="insertarIndividual">
    <part name="parameters" element="tns:insertarIndividual"/>
  </message>
  <message name="insertarIndividualResponse">
    <part name="parameters" element="tns:insertarIndividualResponse"/>
  </message>
  <message name="getPedidosRestaurante">
    <part name="parameters" element="tns:getPedidosRestaurante"/>
  </message>
  <message name="getPedidosRestauranteResponse">
    <part name="parameters" element="tns:getPedidosRestauranteResponse"/>
  </message>
  <message name="getDataPromociones">
    <part name="parameters" element="tns:getDataPromociones"/>
  </message>
  <message name="getDataPromocionesResponse">
    <part name="parameters" element="tns:getDataPromocionesResponse"/>
  </message>
  <message name="quitarLineaPedido">
    <part name="parameters" element="tns:quitarLineaPedido"/>
  </message>
  <message name="quitarLineaPedidoResponse">
    <part name="parameters" element="tns:quitarLineaPedidoResponse"/>
  </message>
  <message name="cambiarEstadoPedido">
    <part name="parameters" element="tns:cambiarEstadoPedido"/>
  </message>
  <message name="cambiarEstadoPedidoResponse">
    <part name="parameters" element="tns:cambiarEstadoPedidoResponse"/>
  </message>
  <message name="BuscarDataXRestaurante_Producto">
    <part name="parameters" element="tns:BuscarDataXRestaurante_Producto"/>
  </message>
  <message name="BuscarDataXRestaurante_ProductoResponse">
    <part name="parameters" element="tns:BuscarDataXRestaurante_ProductoResponse"/>
  </message>
  <message name="consultarRestaurantesPorCategoria">
    <part name="parameters" element="tns:consultarRestaurantesPorCategoria"/>
  </message>
  <message name="consultarRestaurantesPorCategoriaResponse">
    <part name="parameters" element="tns:consultarRestaurantesPorCategoriaResponse"/>
  </message>
  <portType name="WSQuickOrder">
    <operation name="insertarPedido">
      <input wsam:Action="http://WebServices/WSQuickOrder/insertarPedidoRequest" message="tns:insertarPedido"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/insertarPedidoResponse" message="tns:insertarPedidoResponse"/>
    </operation>
    <operation name="agregarACarrito">
      <input wsam:Action="http://WebServices/WSQuickOrder/agregarACarritoRequest" message="tns:agregarACarrito"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/agregarACarritoResponse" message="tns:agregarACarritoResponse"/>
    </operation>
    <operation name="nickOcupado">
      <input wsam:Action="http://WebServices/WSQuickOrder/nickOcupadoRequest" message="tns:nickOcupado"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/nickOcupadoResponse" message="tns:nickOcupadoResponse"/>
    </operation>
    <operation name="getDataPedido">
      <input wsam:Action="http://WebServices/WSQuickOrder/getDataPedidoRequest" message="tns:getDataPedido"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getDataPedidoResponse" message="tns:getDataPedidoResponse"/>
    </operation>
    <operation name="emailOcupado">
      <input wsam:Action="http://WebServices/WSQuickOrder/emailOcupadoRequest" message="tns:emailOcupado"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/emailOcupadoResponse" message="tns:emailOcupadoResponse"/>
    </operation>
    <operation name="insertarCliente">
      <input wsam:Action="http://WebServices/WSQuickOrder/insertarClienteRequest" message="tns:insertarCliente"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/insertarClienteResponse" message="tns:insertarClienteResponse"/>
    </operation>
    <operation name="calificarPedido">
      <input wsam:Action="http://WebServices/WSQuickOrder/calificarPedidoRequest" message="tns:calificarPedido"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/calificarPedidoResponse" message="tns:calificarPedidoResponse"/>
    </operation>
    <operation name="modificarCliente">
      <input wsam:Action="http://WebServices/WSQuickOrder/modificarClienteRequest" message="tns:modificarCliente"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/modificarClienteResponse" message="tns:modificarClienteResponse"/>
    </operation>
    <operation name="cancelarPedido">
      <input wsam:Action="http://WebServices/WSQuickOrder/cancelarPedidoRequest" message="tns:cancelarPedido"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/cancelarPedidoResponse" message="tns:cancelarPedidoResponse"/>
    </operation>
    <operation name="buscarCliente">
      <input wsam:Action="http://WebServices/WSQuickOrder/buscarClienteRequest" message="tns:buscarCliente"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/buscarClienteResponse" message="tns:buscarClienteResponse"/>
    </operation>
    <operation name="getDataClientes">
      <input wsam:Action="http://WebServices/WSQuickOrder/getDataClientesRequest" message="tns:getDataClientes"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getDataClientesResponse" message="tns:getDataClientesResponse"/>
    </operation>
    <operation name="getDataPedidos">
      <input wsam:Action="http://WebServices/WSQuickOrder/getDataPedidosRequest" message="tns:getDataPedidos"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getDataPedidosResponse" message="tns:getDataPedidosResponse"/>
    </operation>
    <operation name="buscarProductosP">
      <input wsam:Action="http://WebServices/WSQuickOrder/buscarProductosPRequest" message="tns:buscarProductosP"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/buscarProductosPResponse" message="tns:buscarProductosPResponse"/>
    </operation>
    <operation name="buscarProductos">
      <input wsam:Action="http://WebServices/WSQuickOrder/buscarProductosRequest" message="tns:buscarProductos"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/buscarProductosResponse" message="tns:buscarProductosResponse"/>
    </operation>
    <operation name="buscarProductosI">
      <input wsam:Action="http://WebServices/WSQuickOrder/buscarProductosIRequest" message="tns:buscarProductosI"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/buscarProductosIResponse" message="tns:buscarProductosIResponse"/>
    </operation>
    <operation name="consultarCategorias">
      <input wsam:Action="http://WebServices/WSQuickOrder/consultarCategoriasRequest" message="tns:consultarCategorias"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/consultarCategoriasResponse" message="tns:consultarCategoriasResponse"/>
    </operation>
    <operation name="insertarRestaurante">
      <input wsam:Action="http://WebServices/WSQuickOrder/insertarRestauranteRequest" message="tns:insertarRestaurante"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/insertarRestauranteResponse" message="tns:insertarRestauranteResponse"/>
    </operation>
    <operation name="insertarCategoria">
      <input wsam:Action="http://WebServices/WSQuickOrder/insertarCategoriaRequest" message="tns:insertarCategoria"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/insertarCategoriaResponse" message="tns:insertarCategoriaResponse"/>
    </operation>
    <operation name="cantidadPorCategoria">
      <input wsam:Action="http://WebServices/WSQuickOrder/cantidadPorCategoriaRequest" message="tns:cantidadPorCategoria"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/cantidadPorCategoriaResponse" message="tns:cantidadPorCategoriaResponse"/>
    </operation>
    <operation name="retornarCategoriasRestaurantes">
      <input wsam:Action="http://WebServices/WSQuickOrder/retornarCategoriasRestaurantesRequest" message="tns:retornarCategoriasRestaurantes"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/retornarCategoriasRestaurantesResponse" message="tns:retornarCategoriasRestaurantesResponse"/>
    </operation>
    <operation name="filtrarRestaurantes">
      <input wsam:Action="http://WebServices/WSQuickOrder/filtrarRestaurantesRequest" message="tns:filtrarRestaurantes"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/filtrarRestaurantesResponse" message="tns:filtrarRestaurantesResponse"/>
    </operation>
    <operation name="retornarCambiosEstado">
      <input wsam:Action="http://WebServices/WSQuickOrder/retornarCambiosEstadoRequest" message="tns:retornarCambiosEstado"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/retornarCambiosEstadoResponse" message="tns:retornarCambiosEstadoResponse"/>
    </operation>
    <operation name="buscarRestaurante">
      <input wsam:Action="http://WebServices/WSQuickOrder/buscarRestauranteRequest" message="tns:buscarRestaurante"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/buscarRestauranteResponse" message="tns:buscarRestauranteResponse"/>
    </operation>
    <operation name="getPedidosCarrito">
      <input wsam:Action="http://WebServices/WSQuickOrder/getPedidosCarritoRequest" message="tns:getPedidosCarrito"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getPedidosCarritoResponse" message="tns:getPedidosCarritoResponse"/>
    </operation>
    <operation name="buscarClientePorEmail">
      <input wsam:Action="http://WebServices/WSQuickOrder/buscarClientePorEmailRequest" message="tns:buscarClientePorEmail"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/buscarClientePorEmailResponse" message="tns:buscarClientePorEmailResponse"/>
    </operation>
    <operation name="getDataRestaurantes">
      <input wsam:Action="http://WebServices/WSQuickOrder/getDataRestaurantesRequest" message="tns:getDataRestaurantes"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getDataRestaurantesResponse" message="tns:getDataRestaurantesResponse"/>
    </operation>
    <operation name="getDataPedidosTodos">
      <input wsam:Action="http://WebServices/WSQuickOrder/getDataPedidosTodosRequest" message="tns:getDataPedidosTodos"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getDataPedidosTodosResponse" message="tns:getDataPedidosTodosResponse"/>
    </operation>
    <operation name="getDataPedidosProducto">
      <input wsam:Action="http://WebServices/WSQuickOrder/getDataPedidosProductoRequest" message="tns:getDataPedidosProducto"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getDataPedidosProductoResponse" message="tns:getDataPedidosProductoResponse"/>
    </operation>
    <operation name="obtenerCalificacionPedido">
      <input wsam:Action="http://WebServices/WSQuickOrder/obtenerCalificacionPedidoRequest" message="tns:obtenerCalificacionPedido"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/obtenerCalificacionPedidoResponse" message="tns:obtenerCalificacionPedidoResponse"/>
    </operation>
    <operation name="buscarDataIndividual">
      <input wsam:Action="http://WebServices/WSQuickOrder/buscarDataIndividualRequest" message="tns:buscarDataIndividual"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/buscarDataIndividualResponse" message="tns:buscarDataIndividualResponse"/>
    </operation>
    <operation name="insertarPromocion">
      <input wsam:Action="http://WebServices/WSQuickOrder/insertarPromocionRequest" message="tns:insertarPromocion"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/insertarPromocionResponse" message="tns:insertarPromocionResponse"/>
    </operation>
    <operation name="getPromedioCalificaciones">
      <input wsam:Action="http://WebServices/WSQuickOrder/getPromedioCalificacionesRequest" message="tns:getPromedioCalificaciones"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getPromedioCalificacionesResponse" message="tns:getPromedioCalificacionesResponse"/>
    </operation>
    <operation name="getDataIndividuales">
      <input wsam:Action="http://WebServices/WSQuickOrder/getDataIndividualesRequest" message="tns:getDataIndividuales"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getDataIndividualesResponse" message="tns:getDataIndividualesResponse"/>
    </operation>
    <operation name="insertarIndividual">
      <input wsam:Action="http://WebServices/WSQuickOrder/insertarIndividualRequest" message="tns:insertarIndividual"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/insertarIndividualResponse" message="tns:insertarIndividualResponse"/>
    </operation>
    <operation name="getPedidosRestaurante">
      <input wsam:Action="http://WebServices/WSQuickOrder/getPedidosRestauranteRequest" message="tns:getPedidosRestaurante"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getPedidosRestauranteResponse" message="tns:getPedidosRestauranteResponse"/>
    </operation>
    <operation name="getDataPromociones">
      <input wsam:Action="http://WebServices/WSQuickOrder/getDataPromocionesRequest" message="tns:getDataPromociones"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/getDataPromocionesResponse" message="tns:getDataPromocionesResponse"/>
    </operation>
    <operation name="quitarLineaPedido">
      <input wsam:Action="http://WebServices/WSQuickOrder/quitarLineaPedidoRequest" message="tns:quitarLineaPedido"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/quitarLineaPedidoResponse" message="tns:quitarLineaPedidoResponse"/>
    </operation>
    <operation name="cambiarEstadoPedido">
      <input wsam:Action="http://WebServices/WSQuickOrder/cambiarEstadoPedidoRequest" message="tns:cambiarEstadoPedido"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/cambiarEstadoPedidoResponse" message="tns:cambiarEstadoPedidoResponse"/>
    </operation>
    <operation name="BuscarDataXRestaurante_Producto">
      <input wsam:Action="http://WebServices/WSQuickOrder/BuscarDataXRestaurante_ProductoRequest" message="tns:BuscarDataXRestaurante_Producto"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/BuscarDataXRestaurante_ProductoResponse" message="tns:BuscarDataXRestaurante_ProductoResponse"/>
    </operation>
    <operation name="consultarRestaurantesPorCategoria">
      <input wsam:Action="http://WebServices/WSQuickOrder/consultarRestaurantesPorCategoriaRequest" message="tns:consultarRestaurantesPorCategoria"/>
      <output wsam:Action="http://WebServices/WSQuickOrder/consultarRestaurantesPorCategoriaResponse" message="tns:consultarRestaurantesPorCategoriaResponse"/>
    </operation>
  </portType>
  <binding name="WSQuickOrderPortBinding" type="tns:WSQuickOrder">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="insertarPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="agregarACarrito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="nickOcupado">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDataPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="emailOcupado">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertarCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calificarPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modificarCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelarPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDataClientes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDataPedidos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarProductosP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarProductos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarProductosI">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarCategorias">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertarRestaurante">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertarCategoria">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cantidadPorCategoria">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retornarCategoriasRestaurantes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="filtrarRestaurantes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="retornarCambiosEstado">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarRestaurante">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPedidosCarrito">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarClientePorEmail">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDataRestaurantes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDataPedidosTodos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDataPedidosProducto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerCalificacionPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarDataIndividual">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertarPromocion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPromedioCalificaciones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDataIndividuales">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertarIndividual">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPedidosRestaurante">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDataPromociones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="quitarLineaPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cambiarEstadoPedido">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="BuscarDataXRestaurante_Producto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarRestaurantesPorCategoria">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WSQuickOrder">
    <port name="WSQuickOrderPort" binding="tns:WSQuickOrderPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

